
Skip to content

    Pull requests
    Issues
    Marketplace
    Explore

    @prashal

1
0

    0

prashal/prashal.github.io
Code
Issues 0
Pull requests 0
Projects 0
Wiki
Insights
Settings
prashal.github.io/index.html
b07e2e4 on Apr 28
@prashal prashal Update index.html
22 lines (20 sloc) 915 Bytes
---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    {% if post.showdate %}
      <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
      <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
    {% endif %}
  </div>
</article>
{% endfor %}

{% include pagination.html %}
